@page "/vue2ComponentParameter"
@inject IJSRuntime JS
@inject JsConsole JSLogger

<!-- NOTE: Must wrap into parent elment otherwise will crash. -->
<div>
    <div id="components-demo">
        <h3>Here is some content generated with Vue</h3>
       <data-context-component :model="context"></data-context-component>
    </div>
</div>

<p>@dataContext.data.value</p>
<button class="btn btn-primary" @onclick="onUpdateData">Update Data</button>


<h1>Counter</h1>
<p role="status">Current count: @currentCount</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code 
{
    private int currentCount = 0;
    private DataContext dataContext = new DataContext();
    private IJSObjectReference? mapInstance;

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            this.dataContext.data = new Data();
            this.dataContext.definition = new Definition();

            this.dataContext.data.value = "Data value";
            this.dataContext.definition.value = "Definition value";

            this.dataContext.save = this.onSave;
            this.dataContext.validate = this.onValidate;

            var json = System.Text.Json.JsonSerializer.Serialize(dataContext);

            mapInstance = await JS.InvokeAsync<IJSObjectReference>("vue2ComponentParameter", dataContext);
        }
    }

    private async void onUpdateData()
    {
        var ctx = new DataContext();

        var data = new Data();
        var definition = new Definition();

        data.value = $"Data value: {DateTime.Now}";
        definition.value = $"Definition value: {DateTime.Now}";

        ctx.data = data;
        ctx.definition = definition;

        await JS.InvokeVoidAsync("setVueContext", mapInstance, ctx);

        //  this.dataContext.data.value = data.value;
    }

    public void onValidate(Data data)
    {
        Console.WriteLine("parent.onValidate");
    }

    public void onSave(Data data)
    {
        Console.WriteLine("parent.onSave");
    }

    public void onDataEvent()
    {
        Console.WriteLine("onDataEvent");
        this.dataContext.data.value = "Data value update from child";
    }

    [JSInvokable]
    public static Task testSave()
    {
        return Task.CompletedTask;
    }

    public class DataContext
    {
        public Definition definition { get; set; } = new Definition();
        public Data data { get; set; } = new Data();

        public Action<Data> save;
        public Action<Data> validate;
    }

    public class Definition
    {
        public string? value { get; set; } = null;
    }

    public class Data
    {
         public string? value { get; set; } = null;
    }
}