@page "/vue3basic"
@inject IJSRuntime JS

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<div id="appvue3">

       <h1>{{ message }}</h1>

</div>

@code {
   
      private int currentCount = 0;

    private async void IncrementCount()
    {
        currentCount++;

        await JS.InvokeVoidAsync("appvue3");
    }

}
