<h1>EmbedIO local web server</h1>

<button class="btn btn-primary" @onclick="GetPeople">Get People</button>
<button class="btn btn-primary" @onclick="TakePhoto">Take Photo</button>

<div>
    <label for="results">Results:</label><br />
    <textarea id="results" @bind="message"></textarea>
</div>

@page "/"
@inject IHttpClientFactory ClientFactory
@inject IEmbedServer EmbedServer;

@code {

    private bool shouldRender;
    private string message;   

    protected override bool ShouldRender() => shouldRender;

    private async void TakePhoto()
    {
        var url = EmbedServer.GetBaseUrl();
        var fullURL = $"{url}/api/photo";
        var request = new HttpRequestMessage(HttpMethod.Get, fullURL);
        request.Headers.Add("User-Agent", "Blazor_AppWithWebServer_EmbedIO");

        var client = ClientFactory.CreateClient();

        var response = await client.SendAsync(request);

        var status = response.IsSuccessStatusCode;

        message = await response.Content.ReadAsStringAsync();

        //shouldRender = true;

        StateHasChanged();
    }

    private async void GetPeople()
    {
        var url = EmbedServer.GetBaseUrl();
        var fullURL = $"{url}/api/people";
        var request = new HttpRequestMessage(HttpMethod.Get, fullURL);
        request.Headers.Add("User-Agent", "Blazor_AppWithWebServer_EmbedIO");

        var client = ClientFactory.CreateClient();

        var response = await client.SendAsync(request);
        var status = response.IsSuccessStatusCode;

        message = await response.Content.ReadAsStringAsync();


        //shouldRender = true;

        StateHasChanged();
    }
}
