@page "/counter"

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        App.Current.MainPage.Loaded += (s, e) =>
        {
            // Called multiple times
        };

       App.Current.MainPage.Unloaded += (s, e) =>
       {
           // Never called
       };

        App.Current.MainPage.SizeChanged += (s, e) =>
        {
            // Called on resize and orientation change
        };

        App.Current.MainPage.Appearing += (s, e) =>
        {
            // Too lates for this must be MainPage
        };

        App.Current.MainPage.Disappearing += (s, e) =>
       {

           // Too lates for this must be MainPage
       };
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
