@page "/events"

<h1>Events See code</h1>

@code {
    private int currentCount = 0;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        App.Current.MainPage.Loaded += (s, e) =>
        {
            // Called multiple times
        };

       App.Current.MainPage.Unloaded += (s, e) =>
       {
           // Never called
       };

        App.Current.MainPage.SizeChanged += (s, e) =>
        {
            // Called on resize and orientation change
        };

        App.Current.MainPage.Appearing += (s, e) =>
        {
            // Too late for this must be MainPage
        };

        App.Current.MainPage.Disappearing += (s, e) =>
       {
           // Too late for this must be MainPage
       };
    }
}
